body{
    align-items: center;
    margin: 1px 5px 5px 0;
    padding-top: 0px;
    font-family: 'PT Sans', sans-serif;

}
.logo{
    width: 70%;
    color:rgb(187, 154, 204);
    text-align: start;
    margin: 0;
    padding: 0 0 0 150px;

}
nav{
    width: 60%;
    text-align: start;
    color:  rgb(187, 154, 204);
}
.nav1{
    display: flex;
}
.flex-col{
    width: 30%;
    align-items: flex-end;
    
}
.capa{
    color: darkviolet;
    background-image: url("./1.jpg");
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 50px 50px 50px;
    width: 1160px;
    height: 650px;
}
.h1{
    padding: 80px;
    margin: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.h4{
    width: 10%;
    height: 20%;
}
.botoes{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0;
    justify-content: center;
    
}

.btn1{
    
    border-style: none;
    background-color: white;
    color: darkviolet;
    
}
.botao{ text-align: center; 
    align-items: center;
    background-color: darkviolet;
    color: white;
    

}
.btn2{
    align-items: center;
    justify-content: center;
    border-style: none;
    display: flex;
    border-radius: 20px;
    color:  white;
    background-color:darkviolet;
    width: 150px;
    height: 40px;
    margin: 0 10px;
}


.p{
    display: flex;
    align-items: center;
}
.Projetos{
    align-items: center;
    justify-content: center;
    display: flex;
    color: darkviolet;
    margin-top: -200px;
}
.foto_e_sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    padding: 0 250px;
   

}

.redonda{
    width: 60px;
    height: 80px;
    width: 50%;
    border-radius: 50%;
  
}

.aredonda{
    width: 60px;
    height: 80px;
    width: 50%;
    border-radius: 50%;
  

}
.img.redonda{
    margin: 0 200px; 0 0;
    padding: 0 0 0 0;
}

)

.fotograf{
    margin: 0 -300px 0 0;
    display: flex;
}



.site1{
    margin: 0 250px; 0 0;
    padding: 0 0 0 0;
    align-items: center;
    justify-content: center;
    display: flex;
    
    
}
.sobre{
    margin: 0 15px ;

}

.Assuntos{
    margin: 0 200px 0 200px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.assunto{
    margin: 0 100px 0 0;
    padding: 0 0 0 0;
    align-items: center;
    justify-content: center;
    display: flex;
}
.Paragrafos{
    margin: 0 250px 0 200px;
    padding: 0 0 0 0;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;

}    
.h3{
    text-align: center;
}
    
.antes{
    
    justify-content: center;
    display: flex;
    color: darkorchid;
}

.circle{
    border-radius:100%;
    border:10px solid purple;
    width:0.1px;
    height:0.1px;
    background-color:purple;
}

.circle2{
    margin: 30px 0 0 0;
    padding: 0 570px 0 570px;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}

.footer_fim{
    justify-content: center;
    align-items: center;
    
}

footer{
    margin: 5px 2px;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
    color: darkorchid;
    background-color: rgb(187, 154, 204);

}
.footer_fim_2{
    padding: 0 300px;
}

.footer_fim_3{
    padding: 0 500px;
    font-size: 11px;

}

.reprograma{
    float: right;
    

}

.footerImagem1{
    
    

}

.footerImagem2{

}

.linha{
    align-items: center;
    justify-content: center;
    display: flex;
}
.todos_os_links{
    align-items: center;
    justify-content: center;
    display: flex;

}
.fullbar{
    align-items: center;
    justify-content: center;
    display: flex;
}
